.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 160px;
  margin: 1vw;
}

.box-style {
  background-color: #F5F5F5;
  /*border: 1px solid #e8e8e8;*/
  border-radius: 2px;
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);*/
}
